<div class="relative flex items-center mb-6">
    <div class="top-0 pr-4 lg:absolute -left-14">
        <div class="p-2 transition duration-700 ease-in-out bg-white rounded-full shadow-lg dark:bg-gray-700">
            {{ svg src="dot" class="w-5 h-5 transition duration-700 ease-in-out fill-current text-primary-500 dark:text-primary-300" }}
        </div>
    </div>

    <p class="text-3xl font-medium text-gray-800 transition duration-700 ease-in-out dark:text-gray-200">
        {{ title }}
    </p>
</div>
